/************************************************************
*
*
*     Front-end News! Stylesheet
*
*     Indigo        : #3f51b5
*     Indigo (dark) : #303f9f
*     Light BLue    : #c5cae9
*     White         : #fff
*     Pink          : #ff4081
*     Gray (dark)   : #212121
*     Gray (medium) : #727272
*     Gray (light)  : #b6b6b6
*
*************************************************************/

/*-------------------------------------------------------------
*     All
--------------------------------------------------------------*/


 {
  border: 1px solid black;
}

/*-------------------------------------------------------------
*     Base
--------------------------------------------------------------*/

.body {

}

.h1, .h2, .h3, .h4, .h5, .j6 {

}

.ol {
  margin: 0px;
  padding: 0px;
}

.li {

}

.p {

}

.a {

}


/*-------------------------------------------------------------
*     Hero
--------------------------------------------------------------*/

.hero {
  background-color: #3f51b5;
  color: #fff;
  margin-bottom: 40px;
  padding: 20px;
  text-align: center;
}


/*-------------------------------------------------------------
*     Logo
--------------------------------------------------------------*/

.logo {
  font-size: 34px;
  font-weight: bold;
  text-transform: uppercase;
}


/*-------------------------------------------------------------
*     News
--------------------------------------------------------------*/

.news-item {
  border-bottom: 1px solid #b6b6b6;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.news-link {
  color: #3f51b5;
  font-size: 22px;
}

.news-meta-item {
  display: inline;
}


/*-------------------------------------------------------------
*     Container
--------------------------------------------------------------*/

.container {
  margin: 0 auto;
  max-width: 800px;
}
